.card-container {
  border: grey 1px solid;
  border-radius: 30px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.card-title {
  font-size: 105%;
  margin:0;
  font-weight: bold;
}

.card-subtitle {
  margin-top: 10px;
  font-size: 100%;
  margin:0;
}

.card-content {
  width: 100%;
}